/* 
OVERVIEW
*/

body {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
}

.main__window {
    /* RanGen Mockup */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
    position: relative;
    width: 420px;
    height: 414px;
    /* Light Mode - Glass */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 100%);
    box-shadow: -5px 25px 50px rgba(134, 178, 255, 0.1);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 24px;
}

.main__window--header {
    /* Frame 176 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 24px;
    width: 372px;
    height: 44px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 8px rgba(233, 239, 242, 0.4), -1px -1px 8px rgba(255, 255, 255, 0.4), inset -4px -4px 8px rgba(255, 255, 255, 0.4), inset 4px 4px 8px rgba(233, 239, 242, 0.4);
    border-radius: 12px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.main__window--body {
    /* Frame 177 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    width: 372px;
    height: 226px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 2px 2px 8px rgba(233, 239, 242, 0.6), -2px -2px 8px rgba(255, 255, 255, 0.6), inset -4px -4px 8px rgba(255, 255, 255, 0.6), inset 4px 4px 8px rgba(233, 239, 242, 0.6);
    border-radius: 12px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.main__window--footer {
    /* Frame 178 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
    gap: 12px;
    width: 372px;
    height: 48px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 8px rgba(233, 239, 242, 0.4), -1px -1px 8px rgba(255, 255, 255, 0.4), inset -4px -4px 8px rgba(255, 255, 255, 0.4), inset 4px 4px 8px rgba(233, 239, 242, 0.4);
    border-radius: 12px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}


/* 
    ICONS 
*/

.icon__button {
    /* icons/24/reg/ */
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(233, 239, 242, 0.5), -1px -1px 8px rgba(242, 242, 242, 0.2), inset -4px -4px 8px rgba(242, 242, 242, 0.5), inset 4px 4px 8px rgba(233, 239, 242, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.reload {
    order: 2;
}

.clipboard-copy {
    order: 3;
}

.random__string--output {
    /* Frame 6 */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 348px;
    height: 40px;
    /* Light Mode - 3D "negative" Shadows v2 */
    box-shadow: inset 4px 4px 8px rgba(242, 242, 242, 0.5), inset -4px -4px 8px rgba(233, 239, 242, 0.2);
    filter: drop-shadow(-1px -1px 8px rgba(233, 239, 242, 0.5)) drop-shadow(1px 1px 8px rgba(242, 242, 242, 0.2));
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.random__string--output__text {
    /* space */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 236px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.random__string--output__text p {
    width: 98px;
    height: 15px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #121212;
    opacity: 0.4;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.random__string--input__container {
    /* Frame 188 */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;
    width: 348px;
    height: 150px;
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}